@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  background-color: #34a0a4;
}

.activeLink {
  color: #0cbaba;
}

.test {
  background-color: #0cbaba;
}

:root {
  --width: 200px;
  --x-speed: 10s;
  --y-speed: 7s;
  --transition-speed: 100s;
}

#x-1 {
  animation: x-1 var(--x-speed) linear 1s infinite alternate;
}

#x-2 {
  animation: x-2 var(--x-speed) linear 3s infinite alternate;
}

#x-3 {
  animation: x-3 var(--x-speed) linear 5s infinite alternate;
}

.y-1 {
  animation: y-1 var(--y-speed) linear 1s infinite alternate;
}

.y-2 {
  animation: y-2 var(--y-speed) linear 4s infinite alternate;
}

.y-3 {
  animation: y-3 var(--y-speed) linear 6s infinite alternate;
}

@keyframes x-1 {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}
@keyframes x-2 {
  100% {
    transform: translateX(calc(-100vw + var(--width)));
  }
}

@keyframes x-3 {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}

@keyframes y-1 {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}

@keyframes y-2 {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}

@keyframes y-3 {
  100% {
    transform: translateY(calc(-100vh + var(--width)));
  }
}
